body, html {
    font-family: Arial, sans-serif;
    background-color: #b3c6e0;
    background-image: url('https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?auto=format&fit=crop&w=1920&q=80');
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    overflow: hidden;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 609.38px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(0,0,0,0.1); 
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 513.38px;
    width: 404px;
    height: 513.38px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    position: relative; 
}

.logo-ca {
    width: 233px;
    height: 200px;
    margin-bottom: 15px; /* Espacio debajo del logo */
}

.login-container input {
    font-family: Arial, sans-serif;
    width: 370px;
    height: 28.125px;
    margin: 0px 0 16px 0; /* Espacio entre inputs */
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: block;
    min-width: 300px;
    max-width: 700px; 
    box-sizing: border-box;
    font-size: large;
}

button {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 16px;
    width: auto; /* El botón se ajusta al contenido */
    height: 32px;
    padding: 8px 24px; /* Espacio horizontal */
    font-size: 1rem;
    background-color: #b5a78d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button:hover {
    background-color: #ceaf75;
}

.olvido-link {
    color: #ceaf75;
    background-color: rgb(255, 255, 255,0.8);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-right: -200px;
}

.olvido-link:hover {
    color: #f5be59;
    background-color: rgba(255, 255, 255, 0.9);
}

.linea-blanca {
    border: none;
    border-top: 2px solid #fff;
    width: 90%;
    margin: 16px auto 0 auto;
    opacity: 0.8;
}

.error {
    background-color: rgb(255, 255, 255,0.8);
    color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1px 1px;
    text-align: center;
    position: absolute;
    transform: translateY(-110px);
    top: calc(100% + 10px);
}

.crear-usuario-btn {
    margin: 40px 0 0 16px;
    background-color: #ceaf75;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.crear-usuario-btn:hover {
    background-color: #b5a78d;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5); /* Fondo negro transparente */
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 18px;
    letter-spacing: 1px;
}

footer p {
    margin: 3px 0;
    padding: 0;
}

.arce-link {
    color: white;
    text-decoration: none;
}