body {
    font-family: Arial, sans-serif;
    background-color: #b3c6e0;
    background-image: url('https://plus.unsplash.com/premium_photo-1661778490723-371305b4fb06?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Asegura que la imagen cubra todo el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    background: rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;      
    margin: 0 auto;      
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.login-container h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;           /* Igual ancho para todos los inputs */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    min-width: 200px;
    max-width: 350px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b5a78d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
}

button:hover {
    background-color: #ecb348;
}

.error {
    color: red;
    margin-top: 10px;
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5); /* Fondo negro transparente */
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 16px;
    letter-spacing: 1px;
}

footer p {
    margin: 4px 0; /* Muy poco espacio arriba y abajo */
    padding: 0;
}

.arce-link {
    color: white;
    text-decoration: none;
}